.todo-app {
  font-family: sans-serif;
}

/** add todo **/
.add-todo {
  margin-left: 0.5rem;
}

/** todo item **/
.todo-item {
  font-family: monospace;
  cursor: pointer;
  line-height: 2.5;
  border-bottom: 1px solid #000;
  &:hover {
    border-left: 0.8rem solid #ADFF2F;
    border-right: 0.8rem solid #ADFF2F;
    background-color:#F0FFF0;
  }
}
.todo-item-text-completed {
  text-decoration: line-through;
  color: #ff0000;
}


.todo-title {
  text-align: center;
  background-color: #F8F8FF;
  cursor: default;
}

.add-todo-div {
  padding: 1rem;
  text-align: center;
  background-color: #F8F8FF;
}

.add-todo-input {
  width: 20rem;
  height: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.add-todo-button {
  padding: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  font-weight: bold;
  &:hover {
    box-shadow: 0px 15px 15px #888888;
  }
}

/** todo list **/
.todo-list {
  margin-top: 1rem;
  padding: 1rem;
  text-align: left;
  list-style: none;
  background-color: #F8F8FF;
  text-align: center;
}

.filter-div {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #F8F8FF;
  text-align: center;
}

/** visibility filters **/
.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}

.filter--active {
  border-bottom: 1px solid black;
}

















